html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
}

article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object,
h1,
h2,
h3,
h4,
h5 {
  display: block;
}

a img {
  border: 0;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

select,
input,
text,
option,
button {
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

div.container {
  margin: 1rem auto 0 auto;
}

canvas,audio,svg {
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 850px;
}
.tt-suggestion {
    font-size: 14px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
#form-submit {
    margin-top: 7px;
}
.col-60 {
    width: 60%;
    float: left;
}
.col-20 {
    width: 20%;
    float: left;
}
.hide-until-captions-added {
  display: none;
}

.delete-caption {
    background-color: red;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 26px;
    cursor: pointer;
    margin-left: 5px;
}
